<html>
<%- include('./partial/head.ejs') %>
<title>Login</title>
<link rel="stylesheet" href="styles/login.css">
</head>
<body>
		
        <div class="loginform">
            <h1>Welcome Back!</h1>
            <form>
                <label id="useralabel" for="username">
                    <div id="userlabel">
                        Username:<br>
                    </div> 
                    <input type="text" id="userfield" name="email" required>
                </label>
                <br>
                <br>
                <label>
                    <div id="passlabel" for="password">
                        Password:<br>
                    </div>
                    <input type="password" id="passfield" name="password" required>
                </label>
                <br><br>
                <input type="submit" id="submit" value="Hop back in">
            </form>
        </div>

        <script src="" async defer>
            const form = document.querySelector('form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();

                const email = form.username;
                const password = form.password.value;
            }) 
        </script>
    </body>
</html>