<html>
<%- include('./partial/head.ejs') %>
<title>Login</title>
<link rel="stylesheet" href="styles/login.css">
</head>
<body>
		
        <div class="loginform">
            <h1>Welcome Back!</h1>
            <form action="">
                <label id="useralabel">
                    <div id="userlabel">
                        Username:<br>
                    </div> 
                    <input type="text" id="userfield">
                </label>
                <br>
                <br>
                <label>
                    <div id="passlabel">
                        Password:<br>
                    </div>
                    <input type="password" id="passfield">
                </label>
                <br>
                <br>
                <input type="submit" id="submit" value="Hop back in">
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>