<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="navbar">
            <form action="http://127.0.0.1:3000/logout">
                <button>Logout</button>
            </form>
        </div>
        <ul id="messages"></ul>

        <form id="form">
                <textarea placeholder="enter message" id="msgbox"></textarea>
                <label for="imgup" id="myimgup">Upload<br>image</label>
                    <input  type="file" id="imgup" accept="image">
                
                
                <button type="submit">Send<br>message</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            const users = []
            var input = document.getElementById('msgbox');
            var inputimg = document.getElementById('imgup');
            const un = <%- JSON.stringify(username) %>
            console.log()

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                if (input.value) {
                  socket.emit('chat message', input.value);
                  input.value = '';
                }
                else if (inputimg.value) {
                    socket.emit('chat img message', input.value);
                    input.img = ''
                }
            });


            socket.on('connect message', (user) => {
                var item = document.createElement('li');
                //users[soc] = un;
                item.textContent = "User " + user.sid + "/" + user.nam + " connected";
                item.setAttribute("id", "connectprompt");
                messages.appendChild(item);
            })

            socket.on('chat message', (msg) => {
                var item = document.createElement('li');
                var us = document.createElement('b');
                us.textContent = socket.id;
                var msgtext = document.createElement('p');
                msgtext.textContent = msg;
                item.appendChild(us);
                item.appendChild(msgtext);
                item.setAttribute("id", "message");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('chat img message', (msg) => {
                var item = document.createElement('li');
                var imgitem = document.createElement('img');
                item.appendChild(imgitem);
                img.src = 'public/img/';
                item.setAttribute("id", "message");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('disconnect message', () => {
                var item = document.createElement('li');
                item.textContent = "User disconnected";
                item.setAttribute("id", "disconnectprompt");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

        </script>
    </body>
</html>