<html>
<%- include('./partial/head.ejs') %>
<title>Signup</title>
<link rel="stylesheet" href="styles/signup.css">
</head>
<body>
		
        <div class="loginform">
            <h1>A World of Communication awaits you</h1>
            <form>
                <label>
                    <div id="userlabel">
                        Username:
                    </div>
                    <input type="text" id="userfield">
                </label>
                <br>
                <br>
                <label>
                    <div id="passlabel">
                        Password:
                    </div>
                    <input type="password" id="passfield">
                </label>
                <br>
                <br>
                <input type="submit" id="submit" value="Join the Conversation">
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>