body {
    background: url('../img/loginbackground.png');
    background-size: 1920px 1080px;

}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9bb6cc;
}

.container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: #9bb6cc;
    border-radius: 15px;
    box-shadow: 5px 5px 20px gray;   
}

form, label {
    background-color: #9bb6cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0px;
    padding-bottom: 7px;
}

input, textarea {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    border: 2px;
}

#submit {
    font-size: large;
    padding: 4%;
    border-radius: 10px;
    border: 2px;
    background-color: #4C566A; 
    cursor: pointer; 
    margin-top: 5%;
    color: #ECEFF4;
}

#submit:hover {
    background-color: white;
    color: #5E81AC;
    transition-duration: 0.5;
}  
