<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="navbar">
            
            <form action="http://127.0.0.1:3000/logout">
                
                <button>Logout</button>
            </form>
            <div id="uname"><%= username %></div>
        </div>
        <ul id="messages"></ul>

        <form id="form">
                <textarea placeholder="enter message" id="msgbox"></textarea>
                <label id="myimgup">Upload image
                    <input  type="file" id="imgup">
                </label> 
                <button type="submit">Send<br>message</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            //import {Cloudinary} from '@cloudinary/url-gen'
            //import {Resize} from '@cloudinary/url-gen/actions'

            //const cldInstance = new Cloudinary({cloud: {cloudName: 'dzdlplwhi'}});

            var socket = io();
            const users = []
            var input = document.getElementById('msgbox');
            var inputimg = document.getElementById('imgup');
            const reader = new FileReader();
            const un = <%- JSON.stringify(username) %>
            

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                //console.log(inputimg[0]);
                const imgfile = inputimg.files[0];
                console.log(imgfile);

                // Upload imagfile to cloudinary
                if(imgfile) {
                    const formData = new FormData();
                    formData.append('file', imgfile);
                    formData.append('upload_preset', 'xmlqidin');
                    fetch('https://api.cloudinary.com/v1_1/dzdlplwhi/image/upload', {
                        method: 'POST',
                        body: formData
                    })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        //console.log("lol " + data.url);
                        socket.emit('chat img message', data.url);
                    })
                    .catch(err => {
                        console.log(err);
                    })  
                }

                if (input.value) {
                  socket.emit('chat message', input.value);
                  input.value = '';
                }
            });

            socket.on('connect message', (users) => {
                var item = document.createElement('li');
                item.textContent = users + " has joined the chat";
                item.setAttribute("id", "connectprompt");
                messages.appendChild(item);
            })

            socket.on('chat message', (msgobj) => {
                var item = document.createElement('li');
                var us = document.createElement('b');
                us.textContent = msgobj.username;
                var msgtext = document.createElement('p');
                msgtext.textContent = msgobj.msg;
                item.appendChild(us);
                item.appendChild(msgtext);
                item.setAttribute("id", "message");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('chat img message', (msg) => {
                var imgcontainer = document.createElement('div');
                var item = document.createElement('li');
                item.class = "imgmsg";
                var us = document.createElement('b');
                us.textContent = msg.username;
                var imgitem = document.createElement('img');
                imgitem.src = msg.url;
                //console.log("Img link: " + msg.url)
                //console.log("Img link: " + imgitem.src);
                imgcontainer.appendChild(imgitem);
                item.appendChild(us);
                item.appendChild(imgcontainer);
                item.setAttribute("id", "message");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('disconnect message', (user) => {
                var item = document.createElement('li');
                item.textContent = user + " has left the chat";
                item.setAttribute("id", "disconnectprompt");
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

        </script>
    </body>
</html>