body {
    background-image: url('../signupbackground.jpg');
    background-size: 1920px;
}

.loginform {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 13%;
    margin-bottom: 15%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: #88C0D0;
    border-radius: 15px;
    box-shadow: 5px 5px 20px gray;    
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit {
    font-size: large;
    padding: 4%;
    border-radius: 10px;
    border: 2px;
    background-color: #4C566A; 
    cursor: pointer; 
    margin-top: 5%;
    color: #ECEFF4;
}

#submit:hover {
    background-color: white;
    color: #5E81AC;
    transition-duration: 0.5;
}       

#userfield, #passfield {
    border-radius: 10px;
    padding: 7px;
    border: 2px;
}

#userlabel, #passlabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0px;
    padding-bottom: 7px;
}

.password.error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}